.page-title
  - if @archive_view 
    Archived Projects
  - else
    Projects

- unless @projects.nil? || @projects.empty?
  .context-nav.right
    - if @archive_view
      %a{:href => "/projects", :title => "Show Active Projects"} Active
    - else
      %a{:href => "/projects/archive", :title => "Show Archived Projects"} Archived
    |
    %a{:href => "/projects/sync", :title => "Synchronize New Projects"} Sync
  
  != partial :"partials/project_list", :projects => @projects

- else
  
  .actions.clear
    At this point you could 
    - if @archive_view
      %a{:href => "/projects", :title => "Show Active Projects"} Check Active Projects
    - else
      %a{:href => "/projects/archive", :title => "Show Archived Projects"} Check Archived Projects
    ,
    %a{:href => "/projects/sync", :title => "Synchronize with the API"} Synchronize with Pivotal
    or
    %a{:href => "http://www.pivotaltracker.com", :title => "Go see what went wrong", :target => "_blank"} Go to PivotalTracker.com &#x2B00;
    \.
    
