.page-title
  - if @archive_view 
    Archived Projects
  - else
    Projects

- unless @projects.nil? || @projects.empty?
  .context-nav.right
    %a{:href => "http://www.pivotaltracker.com/dashboard", :title => "New Project on Pivotal", :target => "_blank"} New
    |
    - if @archive_view
      %a{:href => "/projects", :title => "Show Active Projects"} Active
    - else
      %a{:href => "/projects/archive", :title => "Show Archived Projects"} Archived
    - if has_role? :admin
      |
      %a{:href => "/projects/sync", :title => "Synchronize New Projects"} Sync
  
  != partial :"partials/project_list", :projects => @projects

- else
  
  .actions.clear
    At this point you could 
    - if has_role? :admin
      %a{:href => "/projects/sync", :title => "Synchronize with the API"} Synchronize with Pivotal
      ,
    view 
    - if @archive_view
      %a{:href => "/projects", :title => "Show Active Projects"} Active Projects
    - else
      %a{:href => "/projects/archive", :title => "Show Archived Projects"} Archived Projects
    or go to 
    %a{:href => "http://www.pivotaltracker.com", :title => "Go see what went wrong", :target => "_blank"} PivotalTracker.com &#x2B00;
    \.
    
