%div The only thing I can say, is that I love Ruby. That is all.
%br
%div Oh, and if your project isn't showing up, ensure that the admin account on pivotal (pivotaltracker@bidsync.com) is added to your account as an owner or member.

%br

%div BJ built this during the latter half of 2009, <a href="mailto:bjn@bidsync.com?subject=I%20like%20to%20complain" title="I'm a complainer">complain to him</a> if it's broken.