%form{:method => "post", :name => "delete_form_button_#{id}", :action => action, :class => "inline-button", :onsubmit => "return confirm(\"Are you sure you would like to delete this item?\");"}
  %input{:type => "hidden", :name => "_method", :value => "delete"}
  %input{:type => "submit", :value => "Delete"}
