!!! Strict
%html
  %head
    %title= (@page_title || "BidSync Project Manager Tool")+" ~ Pivot"
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css"}/
    %link{:rel => "stylesheet", :href => "/css/main.css", :type => "text/css"}/

  %body
    #wrapper
    
      #header
        %ul#menu
          %li
            %a{:title => "Projects", :href => "/projects"} Projects
          %li
            %a{:title => "Developers", :href => "/developers"} Developers
          %li
            %a{:title => "Departments", :href => "/departments"} Departments
          %li
            %a{:title => "About", :href => "/about"} About
        
        %h1#title BidSync PivotalTracker
    
      #content
        #guts
          #messages
            != show_session_messages
            != show_session_errors
          != yield
      
      #footer
