!!! Strict
%html
  %head
    %title= (@page_title || "BidSync Project Manager Tool")+" ~ Pivot"
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css"}/
    %link{:rel => "stylesheet", :href => "/css/main.css", :type => "text/css"}/
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/application.js"}

  %body
    #wrapper
    
      #header
        %ul#menu
          - if logged_in?
            %li
              %a{:title => "Projects", :href => "/projects"} Projects
            %li
              %a{:title => "Developers", :href => "/developers"} Developers
            %li
              %a{:title => "Departments", :href => "/departments"} Departments
            %li
              %a{:title => "About", :href => "/about"} About
            %li
              %a{:title => "Logout", :href => "/logout"} Logout
          -else
            %li
              %a{:title => "About", :href => "/about"} About
            %li
              %a{:title => "Login", :href => "/login"} Login
          
        
        %h1#title
          %a{:href => "/", :title => "Pivot, the Project Tracker"} Pivot, the Project Tracker
    
      #content
        #guts
          #messages
            != show_session_messages
            != show_session_errors
          != yield
      
      #footer
